$def with (message)
<div class="row">
  <div class="col-md-12">
      <p class="alert alert-success">
        $message
    </p>
  </div>
</div>
<div class="row">
  <div class="col-md-10">
      <p>
        <a href="/play/radio4" class="btn btn-info white-bg"><img src="/img/radio4.jpg"></a>
    </p>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
      <p>
        <a href="/play/radio6" class="btn btn-info white-bg"><img src="/img/radio6.jpg"></a>
    </p>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
      <p>
        <a href="/stop" class="btn btn-info">Stop</a>
    </p>
  </div>
</div>
